* {
  background-color: grey;
}

@media only screen and (max-width: 375px) {
  .employee__container {
    border: solid black 5px;
    margin: auto;
    margin-bottom: 10px;
    width: 40%;
    border-radius: 8px;

    p {
      text-align: center;
    }

    .counter__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: solid black 5px;
      margin: auto;
      margin-bottom: 10px;
      width: 80%;
      border-radius: 8px;

      p {
        text-align: center;
      }
    }

    h3 {
      margin-left: 10%;
      margin-right: 10%;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 375px) {
  .employee__container {
    border: solid black 5px;
    margin: auto;
    margin-bottom: 10px;
    width: 20%;
    border-radius: 8px;

    p {
      text-align: center;
    }

    .counter__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: solid black 5px;
      margin: auto;
      margin-bottom: 10px;
      width: 48%;
      border-radius: 8px;

      p {
        text-align: center;
      }
    }

    h3 {
      margin-left: 10%;
      margin-right: 10%;
      cursor: pointer;
    }
  }
}
